

        body {
			font-family: Roboto Regular;
			font-size: 20px;
			margin: 0;
		}

        .titleDiv {
			border-bottom:1px black solid;
            width: 91.1%;
            height: 20%;
			padding: 10px;
			margin: auto;
			font-weight: 700;
        }
		
		/* Registration-Page CSS */
		
		.formName {
			width:100%;
			height:20%;
			font-size:25px;
			text-align:center;
			margin-top:5px;
		}
		
		.registerForm {
			box-shadow: 0 0 5px #00DD00;
			border-radius: 5px;
            width: 60%;
			height: 80%;
			margin: auto; 
			margin-top: 10px;
		}

		.form-content {
			padding: 5px;
		}
		
		.large-input {
			width: 80%;
			height:20%;
			font-size: 80%;
		}

		.small-input {
			width: 30%;
			height:20%;
			font-size: 90%;
		}

		.input-group {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}
		
		.label-group {
			width: 20%;
			height:20%;
			margin-right: 5px;
		}
		
		.label-group span {
			color: red;
		}
		
		.registerButtonContainer {
			text-align: center;
		}

		.registerButton {
			padding: 5px 20px;
			font-size:25px;
			background-color: #00DD00;
			color: #000;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		.registerButton:hover {
			background-color: #008800;
		}
		
		
		/* WelcomePage-Before CSS */
		
		.loginButton {
		border: 1px black solid;
		width: 10%;
		height:30%;
		float: right;
		text-align: center;
		background-color: #00DD00;
		margin-right:2%;
		color: #000;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		}
	
		.signUpButton {
		border: 1px black solid;
		width: 15%;
		float: right;
		text-align: center;
		background-color: #D8D8D8;
		color: #000;
		border: none;
		border-radius: 5px;
		cursor: pointer;	
		}
	
		.imgWelcome {
		border:1px white solid;
		border-radius:5px;
		width: 91.1%;
		height: 420px;
		margin:auto;
		margin-top:60px;
		background-image:url('Pic1.png');
		background-size: cover;
		}
	
		.signUpButton2 {
		border: 1px black solid;
		width: 15%;
		height:58px;
		text-align: center;
		background-color: #00DD00;
		color: #000;
		border: none;
		border-radius: 5px;
		cursor: pointer;	
		margin: 60px 0px 0px 72px;
		display: flex;
		align-items: center; 
		justify-content: center;
		line-height: 58px;
		}
	
		.introPara {
		border:0px black solid;
		width: 34%;
		height: 126px;
		margin: 100px 0px 0px 72px;
		color: #fff;
		}
	
		.welcomeText {
		font-size: 40px;
		}


		/* Dashboard Page */

        .caravanListContainer {
    	width: 100%;
    	padding: 20px;
    	box-sizing: border-box;
		}

		.caravanItem {
    	display: flex;
    	background-color: #fff; /* Or any color you prefer */
    	border: 1px solid #ccc;
   		border-radius: 5px;
    	margin-bottom: 20px; /* Space between items */
    	overflow: hidden; /* Keeps the child elements inside the container */
		}
		.logOutButton {
			border: 1px black solid;
			width: 15%;
			float: right;
			text-align: center;
			background-color: #D8D8D8;
			color: #000;
			border: none;
			border-radius: 5px;
			cursor: pointer;    
		}

		.caravanList{
			border-bottom:1px black solid;
			width: 91.1%;
			height: 20%;
			padding: 10px;
			margin: 10px auto;
			font-weight: 700;
		}

		.addCaravanButton {
			width: 91.1%;
			float: left;
			height: 20%;
			padding: 10px;
			color: #00DD00;
			margin: 10px auto auto 50px;
			font-weight: 700;
			display: flex; 
			align-items: center; 
		}

		.addCaravanPicture {
			width: 5%;
			height:20%;
			margin-left: 10px; 
			background-image: url('Add.png'); 
			background-size: 50%; 
			background-position: center; 
			background-repeat: no-repeat; 
		}

		.caravanListContainer {
			border: 1px black solid;
			border-radius: 5px;
			width: 91.1%;
			height: auto;
			margin: 80px auto;
			display: flex; 
		}

		.caravanDetailsContainer {
			display: flex; 
			align-items: flex-start; 
			margin-bottom: 20px; 
		}

		.caravanImage {
			width: 30%;
			background-size: cover;
			background-position: center;
			position: relative;
		}

		.caravanSummary {
			width: 45%;
			padding: 10px;
		}
		.caravanButtons {
			width: 25%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 10px;
		}

		.caravanEditButton {
			background-color: #00DD00;
			color: white;
			margin-bottom: 10px;
			padding: 10px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		.caravanDeleteButton {
			background-color: red;
			color: white;
			padding: 10px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}